:root {
  --color-gris: #272727;
  --color-gris-claro: #dfe1e5;
}

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 60px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

.header .header__nav .nav-right-section {
  width: 250px;
  height: inherit;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.header__nav .nav-right-section a {
  margin-right: 15px;
  color: var(--color-gris);
}

.header__nav .nav-right-section a:hover {
  text-decoration: underline;
  opacity: 60%;
}

.header__nav .nav-right-section .menu-icon {
  background-image: url(img/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
  opacity: 60%;
}

.header__nav .nav-right-section .menu-icon:hover {
  opacity: 100%;
}

.header__nav .nav-right-section img {
  border-radius: 50%;
  margin-left: 10px;
}

.main {
  margin-top: 140px;
  text-align: center;
}
.main .main-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.main .main-input {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.main .main-input input {
  width: 410px;
  height: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.main .main-input-container {
  width: 580px;
  border-radius: 100px;
  border: 1px solid var(--color-gris-claro);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
}

.main .main-input-container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

.main .main-input .search-icon {
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 15px;
  height: 15px;
  margin-right: 80px;
}

.main .main-input .microphone-icon {
  background-image: url(img/microphone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 20px;
}

.main .main-buttons {
  width: 530px;
  margin: 0 auto;
}

.main .main-buttons div {
  display: inline-block;
  margin: 0 5px;
}
.main .main-buttons button {
  padding: 12px 22px;
  background-color: #f5f5f5;
  border: none;
  color: #5f6368;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.main .main-buttons button:hover {
  background-color: gradient(top, #f8f8f8, #f1f1f1);
  color: #222;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.footer {
  width: 100%;
  height: 39px;
  position: absolute;
  bottom: 0;
  background-color: #f2f2f2;
  border-top: 1px solid #dfe1e5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr 1fr ;
  align-items: center;
}

.footer ul {
  margin: 10px;
  list-style: none;
  display: flex;
  padding-left: 25px;
}

.footer .footer-left {
  justify-self: left;
}
.footer .footer-right {
  justify-self: right;
}

.footer ul li a{
  margin-right: 20px;
  color: #5f6368;
}

.footer ul li a:hover{
  text-decoration: underline;
}
